
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
html, body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
#page {
  position: relative;
  height: 100%;
}
.container {
  height: 100%;
}
#members {
  width: 300px;
  float: left;
  overflow: hidden;
  background-color: #2e3238;
  border-right: 1px solid #e0e0e0;
}
#chatting {
  margin-left: 300px;
  position: relative;
}
#chatting #dialog {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 150px;
  border-bottom: 1px solid #ececec;
}
#chatting #typing {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}

#members header {
  height: 150px;

}
#members .mem-item {
  height: 40px;
  padding: 12.5px;
}
#members .active {
  background-color: #3a3f45;
}
#members .mem-item .portrait {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
#members .mem-item .desc {
  margin-left: 50px;
}
#members .mem-item .desc {
  font-weight: 400;
  font-size: 13px;
  color: #FFF;
  line-height: 20px;
}
/**
 * dialog
 */
#dialog .title {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ececec;
}

#dialog .dialogs {
  padding: 0 20px;
  position: absolute;
  top: 50px;
  bottom: 0;
  overflow-y: scroll;
}
#dialog .speaking {
  margin: 15px 0;
  position: relative;
}
#dialog .speak-portrait {
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 2px;
}
#dialog .speak-content {
  margin-left: 38px;
  padding: 8px;
  max-width: 85%;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: green;
}
#dialog .speak-content:before {
  content: '';
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: transparent green transparent transparent;
  position: absolute;
  left: 25px;
  top: 5px;
}

/**
 * inputing
 */
#typing .tools {
  padding: 0 20px;
}
#typing .tools li{
  float: left;
  height: 40px;
  line-height: 40px;
  padding-right: 16px;
}
#typing .content {
  font-size: 0;
}
#typing .content textarea {
  width: 100%;
  height: 110px;
  border: none;
  outline: none;
  padding: 0 30px 0 20px;
  box-sizing: border-box;
}





