
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
html, body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/**
 * 页面整体布局
 */
#page {
  position: relative;
  height: 100%;
}
.container {
  height: 100%;
}
#members {
  width: 300px;
  float: left;
  overflow: hidden;
  background-color: #2e3238;
  border-right: 1px solid #e0e0e0;
}
#chatting {
  margin-left: 300px;
  background-color: #eeeeee;
  position: relative;
}
#chatting #dialog {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 170px;
  border-bottom: 1px solid #d6d6d6;
}
#chatting #typing {
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0;
}

/**
 * 左侧菜单及联系人列表
 */
#members header {
  height: 150px;
}
#members .mem-item {
  height: 40px;
  padding: 12.5px;
}
#members .mems-list .active {
  background-color: #3a3f45;
}
#members .mem-item .portrait {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
#members .mem-item .nick-name{
  font-size: 20px;
  line-height: 40px;
  font-weight: 100;
}
#members .mem-item .desc {
  margin-left: 50px;
}
#members .mem-item .desc {
  font-weight: 400;
  font-size: 13px;
  color: #FFF;
  line-height: 20px;
}

#members .search {
  padding: 0 12.5px;
  position: relative;
}
#members .search .icon-search {
  font-size: 15px;
  color: #a9a9a9;
  position: absolute;
  left: 20px;
  top: 12px;
}
#members .search .icon-search:before {
  color: #a9a9a9;
  font-size: 15px;
  margin-right: 5px;
}
#members .search .search-input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border: none;
  outline: none;
  background-color: #26292e;
}

#members .menu {
  padding: 0 12.5px;
  margin: 0 -3px;
}

#members .menu .menu-li {
  float: left;
  width: 33.33%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
}
#members .menu .menu-li:not(:last-child) {
  border-right: 1px solid #24272c;
}
#members .menu .menu-li i {
  font-size: 30px;
  color: #fff;
}
#members .menu .active i {
  color: #3caf36;
}


/**
 * dialog
 */
#dialog .title {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 0 20px;
  border-bottom: 1px solid #d6d6d6;
}

#dialog .dialogs {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 0 20px;
  position: absolute;
  top: 50px;
  bottom: 0;
  overflow-y: scroll;
}
#dialog .speaking {
  margin: 15px 0;
  position: relative;
}
#dialog .speaking:after {
  content: '';
  display: block;
  clear: both;
}
#dialog .system {
  text-align: center;
  margin: 30px 0;
}
#dialog .system span {
  color: #fff;
  background-color: #dcdcdc;
  font-size: 13px;
  border-radius: 3px;
  padding: 5px 20px;
}
#dialog .speak-portrait {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 2px;
}

#dialog .speak-content {
  display: inline-block;
  margin-left: 15px;
  padding: 8px;
  max-width: 70%;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  word-wrap: break-word;
}

#dialog .speak-content:before {
  content: '';
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: 41px;
  top: 10px;
}
#dialog .self .speak-portrait {
  float: right;
}
#dialog .self .speak-content {
  margin-right: 15px;
  margin-left: 0;
  float: right; 
  background-color: #b2e281;
}
#dialog .self .speak-content:before {
  border-color: transparent transparent transparent #b2e281;
  right: 41px;
  left: initial;
}

/**
 * inputing
 */
#typing .tools {
  padding: 0 20px;
}
#typing .tools .tool-item{
  float: left;
  height: 40px;
  line-height: 40px;
  padding-right: 16px;
}
#typing .tools .tool-item i {
  font-size: 25px;
  font-weight: 500;
}
#typing .tools .active i {
  color: #3caf36;
}
#typing .tools .emoji {
  position: relative;
}
#typing .emoji .emoji-container {
  width: 460px;
  height: 290px;
  box-sizing: border-box;
  position: absolute;
  top: -290px;
  left: -100px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 2px;
  display: none;
}
#typing .emoji .emoji-container .emoji-list {
  padding: 5px;
  position: absolute;
  top: 0;
  bottom: 40px;
}
#typing .emoji .emoji-container .common {
  padding: 5px;
  display: none;
}
#typing .emoji .emoji-container .common img {
  width: 50px;
  height: 50px;
  margin: 0 4px;
}
#typing .emoji .emoji-container .small {

}
#typing .emoji .emoji-container .small img {
  width: 25px;
  height: 25px;
  margin: 0 4px;
}
#typing .emoji .emoji-container .selector {
  height: 40px;
  width: 100%;
  padding: 0 15px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #dadada;
  box-sizing: border-box;
}
#typing .emoji .emoji-container .selector .selector-li {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#typing .emoji .emoji-container .selector .selector-li img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
#typing .content {
  font-size: 0;
  text-align: right;
}
#typing .content textarea {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  resize: none;
  padding: 0 30px 0 20px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;
  background-color: #eeeeee;
}
#typing .content .btn-send {
  width: 70px;
  height: 25px;
  margin-top: 15px;
  margin-right: 20px;
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;

}
#typing .content .btn-send:hover {
  background-color: #3caf36;
  outline: none;
  color: #fff;
  border: 1px solid;
  border-radius: 2px;
}



