<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>UChat</title>
  <link rel="stylesheet" type="text/css" href="assets/css/iconfont.css">
  <link rel="stylesheet" type="text/css" href="assets/css/index.css">
  <script type="text/javascript" src="assets/js/socket.io.js"></script>
</head>
<body>
<!--登陆模块-->
  <section id="login">
    <div id="user">
      <h6 class="page-title">UChat!</h6>
      <div class="logo">
        <img src="assets/imgs/1.jpg" class="logo-img">
      </div>
      <input class="username" type="text" placeholder="请输入昵称" />
      <button class="btn-login">Join</button>
      <p class="welcome">welcome to UChat~</p>
    </div>
  </section>
<!--整个页面容器-->
<div id="page">

  <!--左侧搜索菜单及联系人列表-->
  <section id="members" class="container">
    <!--头部-->
    <header class="header">
      <!--个人资料-->
      <div class="mem-item profile">
        <img class="portrait" src="assets/imgs/1.jpg" />
        <div class="desc">
          <p class="nick-name">天棠</p>
        </div>
      </div>
      <!--搜索框-->
      <div class="mem-item search">
        <i class="iconfont icon-search">搜索</i>
        <input type="text" class="search-input">
      </div>
      <!--菜单-->
      <div class="mem-item menu">
        <ul class="menu-ul clearfix">
          <li class="menu-li active"><i class="iconfont icon-chat"></i></li>
          <li class="menu-li"><i class="iconfont icon-publicnumber"></i></li>
          <li class="menu-li"><i class="iconfont icon-list"></i></li>
        </ul>
      </div>
    </header>

    <!--联系人列表-->
    <div class="mems-list">

    </div>    
  </section>

  <!--右侧对话及输入-->
  <section id="chatting" class="container">
    <!--对话部分-->
    <section id="dialog">
      <!--对方名称-->
      <div class="title">
        UChat～(当前在线人数：<span class="count">0</span>人）
      </div>  
      <!--已发送对话-->
      <div class="dialogs">
        <!-- 此处为对话内容区-->
        
      </div>
    </section>

    <!--下方输入框-->
    <section id="typing">
      <!--聊天工具-->
      <ul class="tools clearfix">
        <li class="tool-item emoji active"><i class="iconfont icon-face"></i>
          <div class="emoji-container">
            <div class="tab">
              <section class="emoji-list small" data-type="qq">
                
              </section>
              <section class="emoji-list common" data-type="tsj">

              </section>
            </div>
            <ul class="selector clearfix">
              <li class="selector-li" data-type="qq"><img src="assets/imgs/qq/1.gif"></li>
              <li class="selector-li" data-type="tsj"><img src="assets/imgs/tsj/1.gif"></li>
            </ul>
          </div>
        </li>
        <li class="tool-item" class="printscreen" style="display: none">
          <i class="iconfont icon-scissors"></i>

        </li>
        <li class="tool-item upload">
          <i class="iconfont icon-folder">
            <input type="file" class="uploadImg">
          </i>          
        </li>
      </ul>
      <!--输入框-->
      <div class="content">
        <p id="typeContent" contenteditable="true"></p>
        <button class="btn-send">发送(S)</button>
      </div>
    </section>
  </section>  
</div>
<script type="text/html" id="msgTpl">
  <div class="speaking <%= type %>">
  <% if (type == 'system') { %>
    <span><%= data %></span>
  <% } else { %>
    <img src="assets/imgs/1.jpg" class="speak-portrait">
    <p class="speak-user">
      <%= username %>
    </p>
    <p class="speak-content">
    <% if(msgType == 'img') { %>
      <img src="<%= data %>">
    <% } else { %>    
      <%= data %>
    <% } %>
      
    </p>
  <% } %>
  </div>
</script>
<script type="text/html" id="memTpl">
  <% for (var i = 0; i < memberArr.length; i++) { %>
    <div class="mem-item">
      <img class="portrait" src="assets/imgs/1.jpg">
      <div class="desc">
        <p class="name"><%= memberArr[i].name %></p>
        <p class="speak"><%= memberArr[i].headline %></p>
      </div>
    </div>
  <% } %>
</script>
<script type="text/javascript" src="assets/js/template-native.js"></script>
<script type="text/javascript" src="assets/js/index.js"></script>
</body>
</html>